:root {
  --theme-darkest: #000;
  --theme-dark: #333;
  --theme-base: #1c1c1c;
  --theme-light: #f7f7f7;
  --theme-lightest: #fff;

  --color-blue-base: #364051;
}

body {
  margin: 0;
  padding: 0;
  height: 0;
}

.App {
  height: 100vh;
  background: var(--theme-lightest);
  color: var(--theme-base);
}

.PageIntro {
  user-select: none;
  background: var(--theme-light);
  padding: 1rem;
}

.PageDetail {
  padding: 1rem;
}
