:root {
  --theme-darkest: #000;
  --theme-dark: #333;
  --theme-base: #1c1c1c;
  --theme-light: #f7f7f7;
  --theme-lightest: #fff;

  --color-blue-lightest: #768194;
  --color-blue-light: #647696;
  --color-blue-base: #364051;
  --color-blue-dark: #2b3340;
}

body {
  margin: 0;
  padding: 0;
  height: 0;
}

.App {
  height: 100vh;
}

.PageIntro {
  user-select: none;
  padding: 1rem;
}

.PageDetail {
  padding: 1rem;
}
